<template>
    <div>
        <!-- 内容区 -->
    </div>
</template>

<script setup name="{{ properCase name }}">
// const store = useStore()
// const route = useRoute()
// const router = useRouter()
// const { proxy } = getCurrentInstance()
</script>

<style lang="scss" scoped>
// scss
</style>
