// 全局变量

// 头部高度
$g-header-height: 70px;
// 侧边栏Logo高度
$g-sidebar-logo-height: 50px;
// 顶栏高度
$g-topbar-height: 50px;

// 窗口预览缩放系数
$g-window-perview-scale: 0.5;
// 窗口内边距
$g-window-container-padding: 10px;

// 全局变量
:root {
    // 侧边栏宽度
    --g-main-sidebar-width: 70px;
    --g-sub-sidebar-width: 220px;
}
