// 列表页全局样式
.el-table.list-table {
    margin: 20px 0;
    .el-button + .el-dropdown {
        margin-left: 10px;
    }
}
.el-menu {
    background-color: var(--g-sub-sidebar-bg);
    .el-menu--inline {
        background-color: var(--g-sub-sidebar-menu-bg) !important;
        .el-menu-item,
        .el-sub-menu > .el-sub-menu__title {
            color: var(--g-sub-sidebar-menu-color);
            background-color: var(--g-sub-sidebar-menu-bg) !important;
            &:hover {
                color: var(--g-sub-sidebar-menu-hover-color) !important;
                background-color: var(--g-sub-sidebar-menu-hover-bg) !important;
            }
        }
    }
}
.el-menu-item,
.el-sub-menu__title {
    color: var(--g-sub-sidebar-menu-color) !important;
    background: transparent !important;
    min-width: auto;
    &:hover {
        color: var(--g-sub-sidebar-menu-hover-color) !important;
        background-color: var(--g-sub-sidebar-menu-hover-bg) !important;
    }
    i,
    .icon,
    .el-sub-menu__icon-arrow {
        color: unset;
    }
}
.el-menu-item.is-active,
.el-menu--collapse .el-sub-menu.is-active > .el-sub-menu__title,
.el-popper .el-sub-menu.is-active > .el-sub-menu__title,
.el-sub-menu .el-menu--inline .el-menu-item.is-active {
    color: var(--g-sub-sidebar-menu-active-color) !important;
    background-color: var(--g-sub-sidebar-menu-active-bg) !important;
    i,
    .icon,
    .el-sub-menu__icon-arrow {
        color: unset;
    }
}
.el-popper {
    > .el-menu--vertical,
    > .el-menu--horizontal {
        max-width: 200px;
        .el-menu--popup {
            background-color: var(--g-sub-sidebar-bg) !important;
        }
    }
}
