// 全局样式
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(144 147 153 / 30%);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(144 147 153 / 50%);
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-track:hover {
    background-color: transparents;
}
html,
body {
    height: 100%;
}
body {
    margin: 0;
    color: #333;
    box-sizing: border-box;
    font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
    -webkit-tap-highlight-color: transparent;
    &.hidden {
        overflow: hidden;
    }
}
* {
    box-sizing: inherit;
}
// 右侧内容区针对fixed元素，有横向铺满的需求，可在fixed元素上设置 [data-fixed-calc-width]
[data-fixed-calc-width] {
    position: fixed;
    left: 50%;
    right: 0;
    width: calc(100% - var(--g-main-sidebar-actual-width) - var(--g-sub-sidebar-actual-width));
    transform: translateX(-50%) translateX(calc(var(--g-main-sidebar-actual-width) / 2)) translateX(calc(var(--g-sub-sidebar-actual-width) / 2));
}
// textarea 字体跟随系统
textarea {
    font-family: inherit;
}
// 列表页全局样式
.el-table.list-table {
    margin: 20px 0;
    .el-button + .el-dropdown {
        margin-left: 10px;
    }
}
.el-menu {
    background-color: $g-sub-sidebar-bg;
    .el-menu--inline {
        background-color: $g-sub-sidebar-menu-bg !important;
        .el-menu-item,
        .el-sub-menu > .el-sub-menu__title {
            color: $g-sub-sidebar-menu-color;
            background-color: $g-sub-sidebar-menu-bg !important;
            &:hover {
                color: $g-sub-sidebar-menu-hover-color !important;
                background-color: $g-sub-sidebar-menu-hover-bg !important;
            }
        }
    }
}
.el-menu-item,
.el-sub-menu__title {
    color: $g-sub-sidebar-menu-color !important;
    background: transparent !important;
    min-width: auto;
    &:hover {
        color: $g-sub-sidebar-menu-hover-color !important;
        background-color: $g-sub-sidebar-menu-hover-bg !important;
    }
    i,
    .icon,
    .el-sub-menu__icon-arrow {
        color: unset;
    }
}
.el-menu-item.is-active,
.el-menu--collapse .el-sub-menu.is-active > .el-sub-menu__title,
.el-popper .el-sub-menu.is-active > .el-sub-menu__title,
.el-sub-menu .el-menu--inline .el-menu-item.is-active {
    color: $g-sub-sidebar-menu-active-color !important;
    background-color: $g-sub-sidebar-menu-active-bg !important;
    i,
    .icon,
    .el-sub-menu__icon-arrow {
        color: unset;
    }
}
.el-popper {
    > .el-menu--vertical,
    > .el-menu--horizontal {
        max-width: 200px;
        .el-menu--popup {
            background-color: $g-sub-sidebar-bg !important;
        }
    }
}
